<nav class="nav">
    <div class="nav-hold">
        <div class="nav-title">Max Campbell</div>
        <a class="mobile-menu" id="mobile-nav-toggle" href="#"><i class="material-icons">menu</i></a>   
        <div class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/posts.html">Blog</a></li>
            </ul>  
        </div>
        <div class="mobile-nav-cover" id="mobile-nav-cover"></div>
        <div class="mobile-nav-menu" id="mobile-nav-menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/posts.html">Blog</a></li>
            </ul>
        </div> 
    </div>
</nav>